<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../friv40.css" />
</head>
<body>     	<!--title-->
<div class="title_category">
<h1></h1>
</div>
<!--title-->
<!--ads-->
<div style="margin: 10px 0px 40px 0px;">
	<center>
<p style="text-align: center; color: #fff; padding: 5px 0px 5px 0px; font-size: 13px;">ADVERTISEMENT</p>
<script type="text/javascript">document.write("<iframe src='http://www.epicgameads.com/ads/banneriframe.php?pchsh=7c7632eab3a1cc5c3d9a15cf546909f5&t=728x90&cb=" + (Math.floor(Math.random()*99999) + new Date().getTime()) + "' style='width:728px;height:90px;' frameborder='0' scrolling='no'></iframe>");</script>
	</center>
	</div>
	<!--ads-->
<div class="category_image1">
            	<br style="clear:both" />
    	<div class="category_pages">
    	    	</div> 
	</div>	
<!--end-->
<!--title-->
<div class="title_category">
<p></p>
</div>
<!--title-->
	<!--ads-->
<div style="margin: 20px 0px 40px 0px;">
	<center>
<p style="text-align: center; color: #fff; padding: 5px 0px 5px 0px; font-size: 13px;">ADVERTISEMENT</p>
<script type="text/javascript">document.write("<iframe src='http://www.epicgameads.com/ads/banneriframe.php?pchsh=7c7632eab3a1cc5c3d9a15cf546909f5&t=728x90&cb=" + (Math.floor(Math.random()*99999) + new Date().getTime()) + "' style='width:728px;height:90px;' frameborder='0' scrolling='no'></iframe>");</script>	</center>
	</div>
<!--ads-->
</div>


<!--head-->   

</body>
</html>