<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/templates/silk/friv40.css" />
</head>
<body>     <div class="home_padding"></div>
<div class="profile_container">
		<div class="profile_header_avatar">
			<img src="" alt="Avatar" width="75" height="75" class="profile-header_avatar_img"/>
		</div>
		<div class="profile_header_info">
			<div class="profile_username">
							</div> 
			<div class="profile_points">
				 <span class="small_points">PROFILE_POINTS</span>
			</div>
			<br style="clear:both" />
			<div class="profile_stats">
				PROFILE_PLAYS:  &nbsp;&nbsp;PROFILE_RATINGS:  &nbsp;&nbsp;PROFILE_COMMENTS:  &nbsp;&nbsp;			</div>
		</div>
		
		<div class="profile_header_buttons">
			<div class="profile_button">
							</div>
		</div>
</div>

<div class="profile_column1">
	<div class="profile_content_item">
		<div class="profile_left_header">
			PROFILE_FAV_GAMES_HEADER		</div>
		<div class="fav_container">
					</div>
	</div>
	
	<div class="profile_content_item">
		<div class="profile_left_header">
			PROFILE_COMMENTS_HEADER		</div>
		<div class="fav_container">
					</div>
	</div>
</div>

<div class="profile_right_container">
<div class="profile_column2">
	<div class="profile_module_header">
		User info
	</div>
	<div class="user_info">
		<span class="right_title">PROFILE_LOCATION:</span><br /><br /><br />
		<span class="right_title">PROFILE_BIO:</span><br /><br /><br />
		<span class="right_title">PROFILE_WEBSITE:</span><br /><br /><br />
		<span class="right_title">PROFILE_JOINED:</span><br /><br /><br />
	</div>
	<div class="ad_small_square">
		