<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../friv40.css" />
</head>
<body>     <!--head view-->
<div id="header"></div>
<div id="subMenu">
<div id="home_icon">
<a href="../../../" title="Juegos Kizi 2017, Juegos Gratis, Kizi 2017, Juegos Kizi - Tua.one"></a>
</div>
<div id="logo">
<a href="../../../">
<div id="logoimg"></div>
</a>
</div>
<div class="close_btn"><a href="#"></a></div>
<!--youtube-->
<div id="wt2h">
  <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" style="height: 30px;"></div>			 
			 <!--google-->
			 <script src="../../../js/platform.js"></script>

</div>
<!--youtube-->
<div stlye="clear:both"></div>
</div>
<!--head view-->
<div>
 <div id="play">
     <div id="content-game">
	      <!--ads 160 left--> 
	     <div id="panel-left">
		     <a href="../../../" title="Juegos Kizi" class="back" style="height: 37.8432px;color: transparent;"></a>
			 <a href="../../../" title="Juegos Kizi 2017" class="logo" style="top: 7%; color: transparent;height: 103.692px;"></a>
			 <div class="keyboard" style="top: 25.5%;">
			   			 </div>
            <!--more-->			 
			    <div id="header-game3">
<ul>
<li><a href="../../../menu.html" title="category" style="color: #260039;" target="_blank">
    <img src="../images_category/top-tags.png" alt="category">	
	category
	</a>
</li>
<li style="background:rgba(0,0,0,0.7); border-radius: 8px; color: #fff;"> 
<p class="hidetext">
<img src="../images_category/ico-pv.png" alt="instructions">
instructions
</p>
</li>
</ul>
</div>				
			 <!--more-->
		 </div>		
           <!--ads 160 left-->  		 
		 <div id="panel-center">
		     <div id="top-panel-center">
			     <div class="titulogame">
					<span style="margin: 0px; display: inline; font-size: 22px;">
                     <h1></h1>
                    </span>			 
				 </div>                                                      
			</div>
			 <!--end center-->
			 <!--game-->
		 <div id="conteiner-panel-center">
		     		 </div>
		 <!--end game-->
		 </div>		 		
		 <!--ads right-->	
         <div id="right-ads"><p style="text-align: center; color: #fff; padding: 5px 0px 5px 0px; font-size: 13px;">ADVERTISEMENT</p>
<script type="text/javascript">document.write("<iframe src='http://www.epicgameads.com/ads/banneriframe.php?pchsh=7c7632eab3a1cc5c3d9a15cf546909f5&t=160x600&cb=" + (Math.floor(Math.random()*99999) + new Date().getTime()) + "' style='width:160px;height:600px;' frameborder='0' scrolling='no'></iframe>");</script></div>		 <!--end ads right-->
	 </div>
	  <!--footer ads-->
	 <div id="header-game">	     
				<div id="header-ads">
				 <p style="text-align: center; color: #fff; padding: 5px 0px 5px 0px; font-size: 13px;">ADVERTISEMENT</p>
<script type="text/javascript">document.write("<iframe src='http://www.epicgameads.com/ads/banneriframe.php?pchsh=7c7632eab3a1cc5c3d9a15cf546909f5&t=728x90&cb=" + (Math.floor(Math.random()*99999) + new Date().getTime()) + "' style='width:728px;height:90px;' frameborder='0' scrolling='no'></iframe>");</script>				</div>						 
	 </div>
     <!--footer ads-->  	 
	 <!--more-->
	 <div class="moredescript">
	 <!--category_view-->
	 <div id="header-game2">
	 <ul>
<!--cat-->

<li><a href="../../../vanhiacc.html" alt="Juegos de Acción" >
    <img src="../images_category/ico-action.png" alt="Juegos-de-Acción" >	
    Juegos de Acción
	</a>
</li>
<li><a href="../../../vanhipuz.html" title="Juegos de puzzle">
    <img src="../images_category/ico-puzzle.png" alt="Juegos-de-puzzle" >
    Juegos de Puzzle
	</a>
</li>
<li><a href="../../../vanhihab.html" title="Juegos de Habilidad">
    <img src="../images_category/ico-skill.png" alt="Juegos-de-Habilidad">	
	Juegos de Habilidad
	</a>
</li>
<li><a href="../../../vanhiest.html" title="Juegos de Estrategia">
    <img src="../images_category/ico-strategy.png" alt="Juegos-de-Estrategia" >	
    Juegos de Estrategia
	</a>
</li>
<li><a href="../../../vanhidep.html" title="Juegos de Deportes">
    <img src="../images_category/ico-sports.png" alt="Juegos-de-Deportes">	
    Juegos de Deportes
	</a>
</li>
<li><a href="../../../vanhichi.html" title="Juegos de Chicas">
    <img src="../images_category/ico-girls.png" alt="Juegos-de-Chicas" >
	 Juegos de Chicas
	</a>
</li>
<li><a href="../../../vanhicar.html" title="Juegos de Carreras">
    <img src="../images_category/ico-racing.png" alt="Juegos-de-Carreras">	
    Juegos de Carreras
	</a>
</li>

</ul>
			 
	 </div>
	 <!--category_view-->	
      <br /><strong>Descripción</strong>: <span>Juega a  y  y disfruta de los mejores títulos en línea gratuitos de todas tus series y juegos Kizi 2017 favoritas!</span>  Los juegos de  estimulan la capacidad de atención de los Kizi,  y fomenta el desarrollo de habilidades cognitivas. <a href="../../../tag/index.html">#Juego >></a><br />		  
         	<strong>Links</strong>: 
	  
       <div>
      <strong>Votar</strong>: <span>4.6</span>/5.0 basado en <span></span> vistas
      </div> 
      <br />
     </div>
	 <!--more-->	 		 
 </div> 
 <!--more games-->
 <div id="more_games">
  <!--footer game-->
	 <div id="header-game1">	
        <div class="header-game1-left">
       <p style="text-align: center; color: #fff; padding: 5px 0px 5px 0px; font-size: 13px;">ADVERTISEMENT</p>
<script type="text/javascript">document.write("<iframe src='http://www.epicgameads.com/ads/banneriframe.php?pchsh=7c7632eab3a1cc5c3d9a15cf546909f5&t=300x250&cb=" + (Math.floor(Math.random()*99999) + new Date().getTime()) + "' style='width:300px;height:250px;' frameborder='0' scrolling='no'></iframe>");</script></div>
        <div class="header-game1-right">
             			 
        </div>						
	 </div>
     <!--footer game--> 
<!--comment-->	 
<!--comment-->    
 </div>
 <!--more games-->
</div>	
<!--poup more-->
  <script src="../../../ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script type="text/javascript" language="javascript">
   
   $(document).ready(function() {
     $(".hidetext").click(function () {
     $(".moredescript").toggle("slow")
  });
  
  });
  // tag
  $(document).ready(function() {
     $(".hidetext1").click(function () {
     $(".moredescript1").toggle("slow")
  });
  
  });
   </script>
<!--poup more-->
<!--view top-->
 <script>
    $(document).ready(function() {
        var headerTop = $('#header').offset().top;
        var headerBottom = headerTop + 120; // Sub-menu should appear after this distance from top.
        $(window).scroll(function () {
            var scrollTop = $(window).scrollTop(); // Current vertical scroll position from the top
            if (scrollTop > headerBottom) { // Check to see if we have scrolled more than headerBottom
                if (($("#subMenu").is(":visible") === false)) {
                    $('#subMenu').fadeIn('slow');
                }
            } else {
                if ($("#subMenu").is(":visible")) {
                    $('#subMenu').hide();
                }
            }
        });
    });
</script>
<!--view top-->

</body>
</html>